{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row align-items-start justify-content-center">
  <div class="col-7">
    <div class="media">
    <img class="align-self-start mr-3" src="{{ url_for('static', filename='ava.jpg') }}" width="300" height="300" alt="Generic placeholder image">
    <div class="media-body">
      <h2 class="mt-0">Давайте знакомиться!</h2>
      <table class="table table-borderless text-justify">
          <thead>
      <tr>
        <th scope="col"><h6>Фамилия</h6></th>
        <th scope="col"><h6>Имя</h6></th>
        <th scope="col"><h6>Отчество</h6></th>
      </tr>
      <tr>
        <td>Анищенко</td>
        <td>Александр</td>
        <td>Владимирович</td>
      </tr>
      <tr>
        <th scope="col"><h6>Статус</h6></th>
        <th scope="col"><h6>Адрес электронной почты</h6></th>
        <th scope="col"><h6>Номер телефона</h6></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Разработчик</td>
        <td>anishenko.alex@gmail.com</td>
        <td>8(982)6212614</td>
      </tr>
      <tr class="text-center">
        <td>
          <a class="btn btn-primary btn-sm btn-block" href="#" role="button">VK</a>
        </td>
        <td>
          <a class="btn btn-primary btn-sm btn-block btn-secondary" href="#" role="button">GIT</a>
        </td>
        <td>
          <a class="btn btn-primary btn-sm btn-block btn-info" href="#" role="button">FB</a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<p class="lead">
  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>
</div>
{% endblock %}
